.footer__top-floor
    .footer__top-floor__items
        .footer__top-floor__items__signUp 
            .footer__top-floor__items__signUp__title Sign Up To Our Newsletter.
            .footer__top-floor__items__signUp__text Be the first to hear about the latest offers.

        form.footer__top-floor__items__form(action="#") 

            input.footer__top-floor__items__form__input-email(type="email" placeholder="Your Email")
            
            button.footer__top-floor__items__form__button-subscribe.interface-button Subscribe
