.footer__middle-floor
    .footer__middle-floor__items


        .footer__middle-floor__items__information.footer-links
            a.footer-links__title.footer-information Information
                svg.footer-links__title__arrow-down.footer-information__arrow-down(width="6" height="5" viewBox="0 0 6 5")
                    path(d="M5 1.76929L3 3.76929L1 1.76929" stroke="white" stroke-width="1.6" stroke-linecap="round")
                svg.footer-links__title__arrow-up.footer-information__arrow-up(width="6" height="5" viewBox="0 0 6 5")
                    path(d="M5 1.76929L3 3.76929L1 1.76929" stroke="white" stroke-width="1.6" stroke-linecap="round")
            a.footer-links__link(href="#") About Us
            a.footer-links__link(href="#") About Zip
            a.footer-links__link(href="#") Privacy Policy
            a.footer-links__link(href="#") Search
            a.footer-links__link(href="#") Terms
            a.footer-links__link(href="#") Orders and Returns
            a.footer-links__link(href="#") Contact Us
            a.footer-links__link(href="#") Advanced Search
            a.footer-links__link(href="#") Newsletter Subscription


        .footer__middle-floor__items__pcParts.footer-links
            a.footer-links__title.footer-pcParts PC Parts 
                svg.footer-links__title__arrow-down.footer-pcParts__arrow-down(width="6" height="5" viewBox="0 0 6 5")
                    path(d="M5 1.76929L3 3.76929L1 1.76929" stroke="white" stroke-width="1.6" stroke-linecap="round")
                svg.footer-links__title__arrow-up.footer-pcParts__arrow-up(width="6" height="5" viewBox="0 0 6 5")
                    path(d="M5 1.76929L3 3.76929L1 1.76929" stroke="white" stroke-width="1.6" stroke-linecap="round")
            a.footer-links__link(href="#") CPUS
            a.footer-links__link(href="#") Add On Cards
            a.footer-links__link(href="#") Hard Drives (Internal)
            a.footer-links__link(href="#") Graphic Cards
            a.footer-links__link(href="#") Keyboards / Mice
            a.footer-links__link(href="#") Cases / Power Supplies / Cooling
            a.footer-links__link(href="#") RAM (Memory)
            a.footer-links__link(href="#") Software
            a.footer-links__link(href="#") Speakers / Headsets
            a.footer-links__link(href="#") Motherboards


        .footer__middle-floor__items__desktopPc.footer-links
            a.footer-links__title.footer-desktopPc Desktop PCs
                svg.footer-links__title__arrow-down.footer-desktopPc__arrow-down(width="6" height="5" viewBox="0 0 6 5")
                    path(d="M5 1.76929L3 3.76929L1 1.76929" stroke="white" stroke-width="1.6" stroke-linecap="round")
                svg.footer-links__title__arrow-up.footer-desktopPc__arrow-up(width="6" height="5" viewBox="0 0 6 5")
                    path(d="M5 1.76929L3 3.76929L1 1.76929" stroke="white" stroke-width="1.6" stroke-linecap="round")
            a.footer-links__link(href="#") Custom PCs
            a.footer-links__link(href="#") Servers
            a.footer-links__link(href="#") MSI All-In-One PCs
            a.footer-links__link(href="#") HP/Compaq PCs
            a.footer-links__link(href="#") ASUS PCs
            a.footer-links__link(href="#") Tecs PCs


        .footer__middle-floor__items__laptops.footer-links
            a.footer-links__title.footer-laptops Laptops
                svg.footer-links__title__arrow-down.footer-laptops__arrow-down(width="6" height="5" viewBox="0 0 6 5")
                    path(d="M5 1.76929L3 3.76929L1 1.76929" stroke="white" stroke-width="1.6" stroke-linecap="round")
                svg.footer-links__title__arrow-up.footer-laptops__arrow-up(width="6" height="5" viewBox="0 0 6 5")
                    path(d="M5 1.76929L3 3.76929L1 1.76929" stroke="white" stroke-width="1.6" stroke-linecap="round")
            a.footer-links__link(href="#") Evryday Use Notebooks
            a.footer-links__link(href="#") MSI Workstation Series
            a.footer-links__link(href="#") MSI Prestige Series
            a.footer-links__link(href="#") Tablets and Pads
            a.footer-links__link(href="#") Netbooks
            a.footer-links__link(href="#") Infinity Gaming Notebooks


        .footer__middle-floor__items__address.footer-links
            .footer-links__title.footer-address Address
                svg.footer-links__title__arrow-down.footer-address__arrow-down(width="6" height="5" viewBox="0 0 6 5")
                    path(d="M5 1.76929L3 3.76929L1 1.76929" stroke="white" stroke-width="1.6" stroke-linecap="round")
                svg.footer-links__title__arrow-up.footer-address__arrow-up(width="6" height="5" viewBox="0 0 6 5")
                    path(d="M5 1.76929L3 3.76929L1 1.76929" stroke="white" stroke-width="1.6" stroke-linecap="round")
            .footer-links__link Address: 1234 Street Adress City Address, 1234
            .footer-links__link Phones: 
                a(href="#") (00) 1234 5678
            .footer-links__link We are open: Monday-Thursday: 9:00 AM - 5:30 PM
            .footer-links__link Friday: 9:00 AM - 6:00 PM
            .footer-links__link Saturday: 11:00 AM - 5:00 PM
            .footer-links__link E-mail:
                a(href="#")  shop@email.com
