.sidebar 
    .sidebar__wrapper
        .sidebar__wrapper__pages
            .sidebar__wrapper__pages__head
                a.sidebar__wrapper__pages__head__logo(href="home.html") 
                    svg(viewBox="0 0 19 25")
                        path(d="M9.74742 0.286377L0.690186 6.17986L0.690186 13.4334L9.74742 19.3268L17.0131 14.7934V16.9468L9.74742 21.7069L0.690186 15.7001L0.690186 18.3068L9.74742 24.087L18.8047 18.3068V11.0533L11.539 15.7001V13.4334L18.8047 8.67325V6.17986L9.74742 0.286377Z" fill="white")
                .sidebar__wrapper__pages__head__close.sidebar-close-button  
                    svg(width="14" height="15" viewBox="0 0 14 15")
                        path(d="M12.9199 1.18213L1 13.1021" stroke="black" stroke-width="2" stroke-linecap="round")
                        path(d="M1 1.18213L12.9199 13.1021" stroke="black" stroke-width="2" stroke-linecap="round")

            .sidebar__wrapper__pages__main-page
                .sidebar__wrapper__pages__main-page__item.sidebar-laptops Laptops
                    svg(width="5" height="7" viewBox="0 0 5 7")
                        path(d="M1 1.39648L3 3.39648L1 5.39648" stroke="black" stroke-width="1.6" stroke-linecap="round")

                .sidebar__wrapper__pages__main-page__item.sidebar-desktopPc Desktop PCs
                    svg(width="5" height="7" viewBox="0 0 5 7")
                        path(d="M1 1.39648L3 3.39648L1 5.39648" stroke="black" stroke-width="1.6" stroke-linecap="round")

                .sidebar__wrapper__pages__main-page__item.sidebar-networkingDevices Networking Devices
                    svg(width="5" height="7" viewBox="0 0 5 7")
                        path(d="M1 1.39648L3 3.39648L1 5.39648" stroke="black" stroke-width="1.6" stroke-linecap="round")

                .sidebar__wrapper__pages__main-page__item.sidebar-printersScanners Printers & Scanners
                    svg(width="5" height="7" viewBox="0 0 5 7")
                        path(d="M1 1.39648L3 3.39648L1 5.39648" stroke="black" stroke-width="1.6" stroke-linecap="round")

                .sidebar__wrapper__pages__main-page__item.sidebar-PcParts PC Parts
                    svg(width="5" height="7" viewBox="0 0 5 7")
                        path(d="M1 1.39648L3 3.39648L1 5.39648" stroke="black" stroke-width="1.6" stroke-linecap="round")

                .sidebar__wrapper__pages__main-page__item.sidebar-otherProducts All Other Products
                    svg(width="5" height="7" viewBox="0 0 5 7")
                        path(d="M1 1.39648L3 3.39648L1 5.39648" stroke="black" stroke-width="1.6" stroke-linecap="round")

                .sidebar__wrapper__pages__main-page__item.sidebar-repairs Repairs
                    svg(width="5" height="7" viewBox="0 0 5 7")
                        path(d="M1 1.39648L3 3.39648L1 5.39648" stroke="black" stroke-width="1.6" stroke-linecap="round")

                button.sidebar__wrapper__pages__main-page__item.sidebar-ourDeals-button.interface-button.interface-button__text Our Deals

            .sidebar__wrapper__pages__secondary-page.desktopPc-sidebar-page
                .sidebar__wrapper__pages__secondary-page__item.sidebar__wrapper__pages__secondary-page__back-button.back-desktopPc-button
                    svg(width="5" height="7" viewBox="0 0 5 7")
                        path(d="M1 1.39648L3 3.39648L1 5.39648" stroke="black" stroke-width="1.6" stroke-linecap="round")
                    .sidebar__wrapper__pages__secondary-page__back-button__text Desktop PCs

                a.sidebar__wrapper__pages__secondary-page__item.sidebar-customPc(href="catalog.html") Custom PCs
                    svg(width="5" height="7" viewBox="0 0 5 7")
                        path(d="M1 1.39648L3 3.39648L1 5.39648" stroke="black" stroke-width="1.6" stroke-linecap="round")

                a.sidebar__wrapper__pages__secondary-page__item.sidebar-servers(href="catalog.html") Servers
                    svg(width="5" height="7" viewBox="0 0 5 7")
                        path(d="M1 1.39648L3 3.39648L1 5.39648" stroke="black" stroke-width="1.6" stroke-linecap="round")

                a.sidebar__wrapper__pages__secondary-page__item.sidebar-all-in-onePcs(href="catalog.html") MSI All-In-One PCs
                    svg(width="5" height="7" viewBox="0 0 5 7")
                        path(d="M1 1.39648L3 3.39648L1 5.39648" stroke="black" stroke-width="1.6" stroke-linecap="round")

                a.sidebar__wrapper__pages__secondary-page__item.sidebar-hpPcs(href="catalog.html") HP/Compaq PCs
                    svg(width="5" height="7" viewBox="0 0 5 7")
                        path(d="M1 1.39648L3 3.39648L1 5.39648" stroke="black" stroke-width="1.6" stroke-linecap="round")

                a.sidebar__wrapper__pages__secondary-page__item.sidebar-asusPcs(href="catalog.html") ASUS PCs
                    svg(width="5" height="7" viewBox="0 0 5 7")
                        path(d="M1 1.39648L3 3.39648L1 5.39648" stroke="black" stroke-width="1.6" stroke-linecap="round")

                a.sidebar__wrapper__pages__secondary-page__item.sidebar-tecsPcs(href="catalog.html") TECS PCs
                    svg(width="5" height="7" viewBox="0 0 5 7")
                        path(d="M1 1.39648L3 3.39648L1 5.39648" stroke="black" stroke-width="1.6" stroke-linecap="round")


