doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Tech Online Store
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
        link(rel="stylesheet" href="../css/style.css")
        script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    body 
        include commons/vars.pug
        include include/modal/js-registration-modal.pug
        include include/sidebar/js-sidebar.pug

        header.header
            include include/header/header_top-floor.pug
            include include/header/header_bottom-floor.pug
            include include/header/header-menu/header-menu-laptops.pug
        
        main.main 
            include include/main/js-home-page-sliders/js-banner-slider.pug
            include include/main/js-home-page-sliders/js-new-products-slider.pug
            include include/main/zip-banner.pug
            include include/main/js-home-page-sliders/js-custome-builds.pug
            include include/main/js-home-page-sliders/js-msi-laptops.pug
            include include/main/js-home-page-sliders/js-desktops.pug
            include include/main/js-home-page-sliders/js-gaming-monitors.pug
            include include/main/brands.pug
            include include/main/blog.pug
            include include/main/js-home-page-sliders/js-review-slider.pug
            include include/main/advantages.pug

        footer.footer
            include include/footer/footer.pug

        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
        script(src="../js/bundle.js")