.js-banner-slider

    //- If we need navigation buttons
    .js-banner-slider__buttons.swiper-buttons
        .js-banner-slider__buttons__button-prev.swiper-buttons__button-prev
            i.js-banner-slider__buttons__button-prev__arrow-left.arrow.swiper-buttons__button-prev__arrow-left
            
        .js-banner-slider__buttons__button-next.swiper-buttons__button-next
            i.js-banner-slider__buttons__button-next__arrow-right.arrow.swiper-buttons__button-next__arrow-right

    //- Slider main container
    .swiper-container.js-banner-slider__container
                
        //- Additional required wrapper
        .swiper-wrapper.js-banner-slider__wrapper
            //- Slides
            .swiper-slide.js-banner-slider__slide
                a.js-banner-slider__slide__link(href="#")
                    img.js-banner-slider__slide__link__image(src="../images/banner.png", alt="slide")
            .swiper-slide.js-banner-slider__slide
                a.js-banner-slider__slide__link(href="#")
                    img.js-banner-slider__slide__link__image(src="../images/banner.png", alt="slide")
            .swiper-slide.js-banner-slider__slide
                a.js-banner-slider__slide__link(href="#")
                    img.js-banner-slider__slide__link__image(src="../images/banner.png", alt="slide")
            .swiper-slide.js-banner-slider__slide
                a.js-banner-slider__slide__link(href="#")
                    img.js-banner-slider__slide__link__image(src="../images/banner.png", alt="slide")



