.top-floor {
    position: relative;
    height: 44px;
    background-color: $black;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    padding-left: 10px;
    padding-right: 10px;
    @include tablet {
        padding-left: 28px;
        padding-right: 28px;
    }
    @include xs-mobile {
        padding-left: 10px;
        padding-right: 10px;
    }
    @include mobile {
        padding-left: 10px;
        padding-right: 10px;
    }

    .top-floor__wrapper {
        height: 100%;
        max-width: $maxWidth;
        margin: auto;

        .top-floor__items {
            height: 100%;
            width: 100%;
            position: relative;
            color: $grey;
            display: flex;
            align-items: center;

            .top-floor__items-logo {
                display: none;
                margin-bottom: -10px;
                width: 64px;
                height: 40px;
                background: $blue;
                border-radius: 30px 30px 0px 0px;
                transform: rotate(0deg);
                a {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg {
                        height: 25px;
                        width: 25px;
                    }
                }

                @include tablet {
                    display: block;
                }
            }

            .top-floor__items-schedule {
                margin-right: 17px;
                @include tablet {
                    margin-left: 20px;
                }
                @include xs-mobile {
                    margin-left: 5px;
                    display: flex;
                    flex-direction: column;
                }
                @include mobile {
                    margin-left: 10px;
                }
                .schedule__days {
                    cursor: default;
                    @include xs-mobile {
                        margin-right: auto;
                        margin-left: 0px;
                    }
                }
                @extend %centeringElement;

                .schedule__times {
                    color: $white;
                    text-decoration: none;
                    margin-left: 5px;
                    transition: $transitionTime;
                    @include xs-mobile {
                        margin-right: auto;
                        margin-left: 0px;
                    }
                    &:hover {
                        color: $grey;
                        path {
                            stroke: $grey;
                        }
                    }
                    @extend %centeringElement;

                    .schedule__triangle {
                        margin-left: 11px;
                        @extend %centeringElement;
                        path {
                            transition: $transitionTime;
                        }
                    }
                }
            }

            .top-floor__items-address {
                height: 100%;
                @extend %centeringElement;
                margin: auto;
                @include tablet {
                    position: absolute;
                    right: 0;
                }

                .address_showroomAddress {
                    cursor: default;
                    @include tablet {
                        display: none;
                    }
                }

                .address_contactUs {
                    color: $white;
                    margin-left: 5px;
                    margin-top: 2px;
                    text-decoration: none;
                    border-bottom: 2px solid $white;
                    transition: $transitionTime;
                    &:hover {
                        color: $grey;
                        border-bottom: 2px solid $grey;
                    }
                }
            }

            .top-floor__items-calls {
                margin-top: 7px;
                margin-right: 0;
                margin-left: 3px;
                @include tablet {
                    display: none;
                }
                
                &__wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .calls_phone {
                    color: $white;
                    height: 20px;
                    margin-right: 14px;
                    text-decoration: none;
                    transition: $transitionTime;
                    &:hover {
                        color: $grey;
                    }
                }

                .facebook {
                    margin-right: 8px;
                }
                
                .instagram, .facebook {
                    path{
                        transition: $transitionTime;
                    }
                    &:hover {
                        path {
                            fill: $grey;
                        }
                    }
                }
            }
        }
    }
}