.header-menu 
    .header-menu__wrapper
        .header-menu__wrapper__items
            .header-menu__wrapper__items__main-bookmark.links-container
                a.header-menu__wrapper__items__main-bookmark__link.links-container__link(href="#")
                    .header-menu__wrapper__items__main-bookmark__link__text.links-container__link__text.everyday-use-notebooks Everyday Use Notebooks
                        i.header-menu__wrapper__items__main-bookmark__link__text__tringle.links-container__link__text__tringle
                            svg(width="6" height="6" viewBox="0 0 6 6")
                                path(d="M5 1.76929L3 3.76929L1 1.76929" stroke="black" stroke-width="1.6" stroke-linecap="round")

                a.header-menu__wrapper__items__main-bookmark__link.links-container__link(href="#")
                    .header-menu__wrapper__items__main-bookmark__link__text.links-container__link__text MSI Workstation Series
                        i.header-menu__wrapper__items__main-bookmark__link__text__tringle.links-container__link__text__tringle
                            svg(width="6" height="6" viewBox="0 0 6 6")
                                path(d="M5 1.76929L3 3.76929L1 1.76929" stroke="black" stroke-width="1.6" stroke-linecap="round")

                a.header-menu__wrapper__items__main-bookmark__link.links-container__link(href="#")
                    .header-menu__wrapper__items__main-bookmark__link__text.links-container__link__text MSI Prestige Series

                    
                a.header-menu__wrapper__items__main-bookmark__link.links-container__link(href="#")
                    .header-menu__wrapper__items__main-bookmark__link__text.links-container__link__text Gaming Notebooks

                a.header-menu__wrapper__items__main-bookmark__link.links-container__link(href="#")
                    .header-menu__wrapper__items__main-bookmark__link__text.links-container__link__text Tablets And Pads

                a.header-menu__wrapper__items__main-bookmark__link.links-container__link(href="#")
                    .header-menu__wrapper__items__main-bookmark__link__text.links-container__link__text Netbooks

                a.header-menu__wrapper__items__main-bookmark__link.links-container__link(href="#")
                    .header-menu__wrapper__items__main-bookmark__link__text.links-container__link__text Infinity Gaming Notebooks

            .header-menu__wrapper__items__over-bookmark.links-container.over-bookmark.first-nesting
                a.header-menu__wrapper__items__over-bookmark__link.links-container__link(href="#")
                    .header-menu__wrapper__items__over-bookmark__link__text.links-container__link__text.msi-workstation-series MSI Workstation Series
                        i.header-menu__wrapper__items__over-bookmark__link__text__tringle.links-container__link__text__tringle
                            svg(width="6" height="6" viewBox="0 0 6 6")
                                path(d="M5 1.76929L3 3.76929L1 1.76929" stroke="black" stroke-width="1.6" stroke-linecap="round")

                a.header-menu__wrapper__items__over-bookmark__link.links-container__link(href="#")
                    .header-menu__wrapper__items__over-bookmark__link__text.links-container__link__text MSI Prestige Series

            .header-menu__wrapper__items__over-bookmark.links-container.over-bookmark.second-nesting
                a.header-menu__wrapper__items__over-bookmark__link.links-container__link(href="catalog.html")
                    .header-menu__wrapper__items__over-bookmark__link__text.links-container__link__text MSI WS Series 
                        p.header-menu__wrapper__items__over-bookmark__link__text__quantity.links-container__link__text__quantity (12)

                a.header-menu__wrapper__items__over-bookmark__link.links-container__link(href="#")
                    .header-menu__wrapper__items__over-bookmark__link__text.links-container__link__text MSI WT Series
                        p.header-menu__wrapper__items__over-bookmark__link__text__quantity.links-container__link__text__quantity (31)

                a.header-menu__wrapper__items__over-bookmark__link.links-container__link(href="#")
                    .header-menu__wrapper__items__over-bookmark__link__text.links-container__link__text MSI WE Series
                        p.header-menu__wrapper__items__over-bookmark__link__text__quantity.links-container__link__text__quantity (7)



        .header-menu__wrapper__brands.brands
            .brands__wrapper
                .brands__wrapper__items 
                    a.brands__wrapper__items__link-block(href="#")
                        img.brands__wrapper__items__link-block__brand-logo(src="../images/roccat-logo.png", alt="roccat")
                    a.brands__wrapper__items__link-block(href="#")
                        img.brands__wrapper__items__link-block__brand-logo(src="../images/msi-logo.png", alt="msi")
                    a.brands__wrapper__items__link-block(href="#")
                        img.brands__wrapper__items__link-block__brand-logo(src="../images/razer-logo.png", alt="razer")
                    a.brands__wrapper__items__link-block(href="#")
                        img.brands__wrapper__items__link-block__brand-logo(src="../images/thermaltake-logo.png", alt="thermaltake")
                    a.brands__wrapper__items__link-block(href="#")
                        img.brands__wrapper__items__link-block__brand-logo(src="../images/adata-logo.png", alt="adata")
                    a.brands__wrapper__items__link-block(href="#")
                        img.brands__wrapper__items__link-block__brand-logo(src="../images/hp-logo.png", alt="hp")
                    a.brands__wrapper__items__link-block(href="#")
                        img.brands__wrapper__items__link-block__brand-logo(src="../images/gigabyte-logo.png", alt="gigabyte")

