.advantages
    .advantages__wrapper
        .advantages__wrapper__items
            .advantages__wrapper__items__product-support.advantage
                img.advantage__image(src="../img/support.png", alt="support")
                .advantage__title Product Support
                .advantage__text Up to 3 years on-site warranty available for your peace of mind.
            .advantages__wrapper__items__personal-account.advantage
                img.advantage__image(src="../img/account.png", alt="account")
                .advantage__title Personal Account
                .advantage__text With big discounts, free delivery and a dedicated support specialist.
            .advantages__wrapper__items__amazing-savings.advantage
                img.advantage__image(src="../img/savings.png", alt="savings")
                .advantage__title Amazing Savings
                .advantage__text Up to 70% off new Products, you can be sure of the best price.