.blog 
    .blog__wrapper 
        .blog__wrapper__title Follow us on Instagram for News, Offers & More
            
        .blog__wrapper__items
            .blog__wrapper__items__card
                a.blog__wrapper__items__card__img-link(href="#")
                    img(src="../images/blog-img1.png", alt="blog-img")
                .blog__wrapper__items__card__text
                    .blog__wrapper__items__card__text__wrapper
                        a.blog__wrapper__items__card__text__wrapper__link(href="#")
                            .blog__wrapper__items__card__text__wrapper__link__text If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace

                    .blog__wrapper__items__card__text__date 01.09.2020
                    
            .blog__wrapper__items__card
                a.blog__wrapper__items__card__img-link(href="#")
                    img(src="../images/blog-img2.png", alt="blog-img")
                .blog__wrapper__items__card__text
                    .blog__wrapper__items__card__text__wrapper
                        a.blog__wrapper__items__card__text__wrapper__link(href="#")
                            .blog__wrapper__items__card__text__wrapper__link__text If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace

                    .blog__wrapper__items__card__text__date 01.09.2020

            .blog__wrapper__items__card
                a.blog__wrapper__items__card__img-link(href="#")
                    img(src="../images/blog-img3.png", alt="blog-img")
                .blog__wrapper__items__card__text
                    .blog__wrapper__items__card__text__wrapper
                        a.blog__wrapper__items__card__text__wrapper__link(href="#")
                            .blog__wrapper__items__card__text__wrapper__link__text If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace

                    .blog__wrapper__items__card__text__date 01.09.2020

            .blog__wrapper__items__card
                a.blog__wrapper__items__card__img-link(href="#")
                    img(src="../images/blog-img4.png", alt="blog-img")
                .blog__wrapper__items__card__text
                    .blog__wrapper__items__card__text__wrapper
                        a.blog__wrapper__items__card__text__wrapper__link(href="#")
                            .blog__wrapper__items__card__text__wrapper__link__text If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace

                    .blog__wrapper__items__card__text__date 01.09.2020

            .blog__wrapper__items__card
                a.blog__wrapper__items__card__img-link(href="#")
                    img(src="../images/blog-img5.png", alt="blog-img")
                .blog__wrapper__items__card__text
                    .blog__wrapper__items__card__text__wrapper
                        a.blog__wrapper__items__card__text__wrapper__link(href="#")
                            .blog__wrapper__items__card__text__wrapper__link__text If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace

                    .blog__wrapper__items__card__text__date 01.09.2020

            .blog__wrapper__items__card
                a.blog__wrapper__items__card__img-link(href="#")
                    img(src="../images/blog-img6.png", alt="blog-img")
                .blog__wrapper__items__card__text
                    .blog__wrapper__items__card__text__wrapper
                        a.blog__wrapper__items__card__text__wrapper__link(href="#")
                            .blog__wrapper__items__card__text__wrapper__link__text If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace

                    .blog__wrapper__items__card__text__date 01.09.2020

            .blog__wrapper__items__card
                a.blog__wrapper__items__card__img-link(href="#")
                    img(src="../images/blog-img7.png", alt="blog-img")
                .blog__wrapper__items__card__text
                    .blog__wrapper__items__card__text__wrapper
                        a.blog__wrapper__items__card__text__wrapper__link(href="#")
                            .blog__wrapper__items__card__text__wrapper__link__text If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace

                    .blog__wrapper__items__card__text__date 01.09.2020

            .blog__wrapper__items__card
                a.blog__wrapper__items__card__img-link(href="#")
                    img(src="../images/blog-img8.png", alt="blog-img")
                .blog__wrapper__items__card__text
                    .blog__wrapper__items__card__text__wrapper
                        a.blog__wrapper__items__card__text__wrapper__link(href="#")
                            .blog__wrapper__items__card__text__wrapper__link__text If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace

                    .blog__wrapper__items__card__text__date 01.09.2020

            .blog__wrapper__items__card
                a.blog__wrapper__items__card__img-link(href="#")
                    img(src="../images/blog-img9.png", alt="blog-img")
                .blog__wrapper__items__card__text
                    .blog__wrapper__items__card__text__wrapper
                        a.blog__wrapper__items__card__text__wrapper__link(href="#")
                            .blog__wrapper__items__card__text__wrapper__link__text If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace If you’ve recently made a desktop PC or laptop purchase, you might want to consider adding peripherals to enhance your home office setup, your gaming rig, or your business workspace

                    .blog__wrapper__items__card__text__date 01.09.2020

