.brands
    .brands__wrapper
        .brands__wrapper__items 
            a.brands__wrapper__items__link-block(href="#")
                img.brands__wrapper__items__link-block__brand-logo(src="../images/roccat-logo.png", alt="roccat")
            a.brands__wrapper__items__link-block(href="#")
                img.brands__wrapper__items__link-block__brand-logo(src="../images/msi-logo.png", alt="msi")
            a.brands__wrapper__items__link-block(href="#")
                img.brands__wrapper__items__link-block__brand-logo(src="../images/razer-logo.png", alt="razer")
            a.brands__wrapper__items__link-block(href="#")
                img.brands__wrapper__items__link-block__brand-logo(src="../images/thermaltake-logo.png", alt="thermaltake")
            a.brands__wrapper__items__link-block(href="#")
                img.brands__wrapper__items__link-block__brand-logo(src="../images/adata-logo.png", alt="adata")
            a.brands__wrapper__items__link-block(href="#")
                img.brands__wrapper__items__link-block__brand-logo(src="../images/hp-logo.png", alt="hp")
            a.brands__wrapper__items__link-block(href="#")
                img.brands__wrapper__items__link-block__brand-logo(src="../images/gigabyte-logo.png", alt="gigabyte")
