.zip-banner
    .zip-banner__wrapper 
        .zip-banner__wrapper__text 
            img.zip-banner__wrapper__text__zip-logo(src="../img/zip-logo.png", alt="zip")
            .zip-banner__wrapper__text__not-link
                .zip-banner__wrapper__text__not-link__bold own 
                .zip-banner__wrapper__text__not-link__normal it now, up to 6 months interest free
            a.zip-banner__wrapper__text__link(href="#") learn more