.bread-crumbs
    .bread-crumbs__wrapper 
        .bread-crumbs__wrapper__items
            a.bread-crumbs__wrapper__items__link(href="#") Home 
            .bread-crumbs__wrapper__items__arrow  ›  
            a.bread-crumbs__wrapper__items__link(href="#") Laptops 
            .bread-crumbs__wrapper__items__arrow  ›  
            a.bread-crumbs__wrapper__items__link(href="#") Everyday Use Notebooks 
            .bread-crumbs__wrapper__items__arrow  ›  
            a.bread-crumbs__wrapper__items__link(href="#") MSI Prestige Series
            .bread-crumbs__wrapper__items__arrow  ›  
            a.bread-crumbs__wrapper__items__link.last__bread-crumb(href="#") MSI WS Series