.container
    .container__wrapper 
        .container__wrapper__items.container__blocks
            include container-left-block.pug
            include container-right-block.pug
            
    .container__advantages
        include ../advantages.pug
