.container__blocks__left
    .container__blocks__left__wrapper
        .container__blocks__left__wrapper__items.left-block__items
            a.left-block__items__back-link(href="#") ‹  Back
            .left-block__items__filters 
                .left-block__items__filters__title.left-block-title Filters 
                button.left-block__items__filters__clear-button.catalog-button.interface-button Clear Filter

                .left-block__items__filters__category
                    a.left-block__items__filters__category__title.category-button Category
                        svg.left-block__items__filters__category__title__arrow-down.category-button__arrow-down(width="6" height="5" viewBox="0 0 6 5")
                            path(d="M5 1.76929L3 3.76929L1 1.76929" stroke="black" stroke-width="1.6" stroke-linecap="round")
                        svg.left-block__items__filters__category__title__arrow-up.categoty-button__arrow-up(width="6" height="5" viewBox="0 0 6 5")
                            path(d="M5 1.76929L3 3.76929L1 1.76929" stroke="black" stroke-width="1.6" stroke-linecap="round")
                    a.left-block__items__filters__category__link 
                        .left-block__items__filters__category__link__value CUSTOM PCS
                        .left-block__items__filters__category__link__quantity 15
                    a.left-block__items__filters__category__link 
                        .left-block__items__filters__category__link__value MSI ALL-IN-ONE PCS
                        .left-block__items__filters__category__link__quantity 45
                    a.left-block__items__filters__category__link 
                        .left-block__items__filters__category__link__value HP/COMPAQ PCS
                        .left-block__items__filters__category__link__quantity 1

                .left-block__items__filters__prise
                    a.left-block__items__filters__prise__title.prise-button Prise
                        svg.left-block__items__filters__prise__title__arrow-down.prise-button__arrow-down(width="6" height="5" viewBox="0 0 6 5")
                            path(d="M5 1.76929L3 3.76929L1 1.76929" stroke="black" stroke-width="1.6" stroke-linecap="round")
                        svg.left-block__items__filters__prise__title__arrow-up.prise-button__arrow-up(width="6" height="5" viewBox="0 0 6 5")
                            path(d="M5 1.76929L3 3.76929L1 1.76929" stroke="black" stroke-width="1.6" stroke-linecap="round")
                    a.left-block__items__filters__prise__link 
                        .left-block__items__filters__prise__link__value $0.00 - $1,000.00
                        .left-block__items__filters__prise__link__quantity 19
                    a.left-block__items__filters__prise__link 
                        .left-block__items__filters__prise__link__value $1,000.00 - $2,000.00
                        .left-block__items__filters__prise__link__quantity 21
                    a.left-block__items__filters__prise__link 
                        .left-block__items__filters__prise__link__value $2,000.00 - $3,000.00
                        .left-block__items__filters__prise__link__quantity 9
                    a.left-block__items__filters__prise__link 
                        .left-block__items__filters__prise__link__value $3,000.00 - $4,000.00
                        .left-block__items__filters__prise__link__quantity 6
                    a.left-block__items__filters__prise__link 
                        .left-block__items__filters__prise__link__value $4,000.00 - $5,000.0000000000000
                        .left-block__items__filters__prise__link__quantity 3
                    a.left-block__items__filters__prise__link 
                        .left-block__items__filters__prise__link__value $5,000.00 - $6,000.00
                        .left-block__items__filters__prise__link__quantity 1
                    a.left-block__items__filters__prise__link 
                        .left-block__items__filters__prise__link__value $6,000.00 - $7,000.00
                        .left-block__items__filters__prise__link__quantity 1
                    a.left-block__items__filters__prise__link 
                        .left-block__items__filters__prise__link__value $7,000.00 And Above
                        .left-block__items__filters__prise__link__quantity 1

                .left-block__items__filters__color
                    a.left-block__items__filters__color__title.color-button Color
                        svg.left-block__items__filters__color__title__arrow-down.color-button__arrow-down(width="6" height="5" viewBox="0 0 6 5")
                            path(d="M5 1.76929L3 3.76929L1 1.76929" stroke="black" stroke-width="1.6" stroke-linecap="round")
                        svg.left-block__items__filters__color__title__arrow-up.color-button__arrow-up(width="6" height="5" viewBox="0 0 6 5")
                            path(d="M5 1.76929L3 3.76929L1 1.76929" stroke="black" stroke-width="1.6" stroke-linecap="round")
                    .left-block__items__filters__color__wrapper.color-items
                        .color-items__color-shell
                            .color-items__color-shell__color-black
                        .color-items__color-shell.color-shell-active
                            .color-items__color-shell__color-red

                .left-block__items__filters__filter-name
                    a.left-block__items__filters__filter-name__title Filter Name
                        svg.left-block__items__filters__filter-name__title__arrow-down(width="6" height="5" viewBox="0 0 6 5")
                            path(d="M5 1.76929L3 3.76929L1 1.76929" stroke="black" stroke-width="1.6" stroke-linecap="round")

                button.left-block__items__filters__apply-filters-button.interface-button Apply Filters (2)

            .left-block__items__brands
                .left-block__items__brands__title.left-block-title Brands
                button.left-block__items__brands__all-brands-button.catalog-button.interface-button All Brands

                .left-block__items__brands__wrapper.brands-links
                    a.brands-links(href="#")
                        img.brands-links__brand-logo(src="../images/roccat-logo.png", alt="roccat")
                    a.brands-links(href="#")
                        img.brands-links__brand-logo(src="../images/msi-logo.png", alt="msi")
                    a.brands-links(href="#")
                        img.brands-links__brand-logo(src="../images/thermaltake-logo.png", alt="thermaltake")
                    a.brands-links(href="#")
                        img.brands-links__brand-logo(src="../images/adata-logo.png", alt="adata")
                    a.brands-links(href="#")
                        img.brands-links__brand-logo(src="../images/hp-logo.png", alt="hp")
                    a.brands-links(href="#")
                        img.brands-links__brand-logo(src="../images/gigabyte-logo.png", alt="gigabyte")

            include compare-products.pug

            include wish-list.pug

            include banner2.pug