.pagination
    .pagination__wrapper 
        .pagination__wrapper__items.pages
            .pages__prev.pages__item ‹
            .pages__number.pages__item 1
            .pages__number.active-page.pages__item 2
            .pages__number.pages__item 3
            .pages__ellipsis ...
            .pages__number.pages__item 15
            .pages__next.pages__item ›
    