.footer__bottom-floor {
    border-top: 1px solid $lightgrey;
    overflow: hidden;
    height: 56px;
    display: block;
    align-items: center;
    margin-top: 31px;
    padding-left: 10px;
    padding-right: 10px;
    @include mobile {
        height: 100px;
        padding: 0;
    }

    &__items {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 16px;

        &__social-networks {
            margin-right: 133px;
            @include mobile {
                margin-right: 0;
            }
            a {
                margin-right: 10px;
                path {
                    opacity: 0.5;
                    transition: $transitionTime;
                }
                text-decoration: none;
                &:hover {
                    path {
                        opacity: 1;
                    }
                }
            }
        }

        &__payment-systems {
            margin: auto;
            a {
                margin-right: 9px;
            }
            @include mobile {
                position: absolute;
                margin-top: 130px;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
            }
        }

        &__copyright {
            cursor: default;
            color: $white;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 132.5%;
            opacity: 0.5;
            @include mobile {
                margin-left: auto;
                margin-right: 0;
            }
        }
    }
}
