.product-card 
    .product-card__wrapper
        .product-card__items 
            .product-card__items__presence-indicator
                .product-card__items__presence-indicator__in-stock
                    svg(width="11" height="10" viewBox="0 0 11 10" fill="none")
                        circle(cx="5.5" cy="5" r="5" fill="#78A962")
                        path(d="M7.5 4L4.98404 7L3.5 5.27853" stroke="white" stroke-linecap="round")
                    div in stock
                .product-card__items__presence-indicator__check-availability.presence-indicator--display-none
                    svg(width="11" height="10" viewBox="0 0 11 10" fill="none")
                        circle(cx="5.5" cy="5" r="5" fill="#C94D3F")
                        path(d="M6.17669 5.85626L6.52669 5.50626C6.57383 5.4597 6.63347 5.42783 6.69838 5.41452C6.76328 5.4012 6.83065 5.40702 6.89231 5.43126L7.31888 5.60157C7.38119 5.62686 7.43462 5.67004 7.47244 5.72565C7.51025 5.78126 7.53076 5.84682 7.53138 5.91407V6.69532C7.53101 6.74107 7.5214 6.78627 7.50311 6.8282C7.48481 6.87013 7.45823 6.90793 7.42494 6.93931C7.39166 6.9707 7.35237 6.99502 7.30944 7.01083C7.2665 7.02663 7.22082 7.03358 7.17513 7.03126C4.18607 6.84532 3.58294 4.31407 3.46888 3.34532C3.46358 3.29775 3.46842 3.24959 3.48307 3.20402C3.49772 3.15846 3.52186 3.11651 3.55389 3.08093C3.58592 3.04536 3.62511 3.01698 3.6689 2.99764C3.71269 2.97831 3.76007 2.96846 3.80794 2.96876H4.56263C4.62997 2.96896 4.69572 2.9893 4.75141 3.02717C4.8071 3.06504 4.85018 3.1187 4.87513 3.18126L5.04544 3.60782C5.07048 3.66924 5.07687 3.73667 5.06381 3.8017C5.05075 3.86672 5.01882 3.92646 4.972 3.97344L4.622 4.32344C4.622 4.32344 4.82356 5.68751 6.17669 5.85626Z" fill="white")
                    div check availability

            a.product-card__items__product-image(href="#")
                img(src="../images/product-img1.png", alt="product")

            .product-card__items__reviews
                .product-card__items__reviews__stars 
                    svg(width="13" height="13")
                        path(d="M6.91099 0.173835C6.94815 0.10127 7.05185 0.10127 7.08901 0.173834L8.92922 3.76772C8.94375 3.79609 8.97092 3.81583 9.00239 3.82088L12.989 4.46045C13.0695 4.47337 13.1016 4.572 13.044 4.62976L10.1947 7.49048C10.1722 7.51306 10.1618 7.54501 10.1668 7.57649L10.7904 11.5657C10.803 11.6462 10.7191 11.7072 10.6464 11.6703L7.04522 9.84443C7.0168 9.83002 6.9832 9.83002 6.95478 9.84443L3.35358 11.6703C3.28087 11.7072 3.19697 11.6462 3.20956 11.5657L3.83323 7.57649C3.83816 7.54501 3.82778 7.51306 3.80529 7.49048L0.955954 4.62976C0.898423 4.572 0.93047 4.47337 1.01096 4.46045L4.99761 3.82088C5.02908 3.81583 5.05625 3.79609 5.07078 3.76772L6.91099 0.173835Z" fill="#E9A426")
                    svg(width="13" height="13")
                        path(d="M6.91099 0.173835C6.94815 0.10127 7.05185 0.10127 7.08901 0.173834L8.92922 3.76772C8.94375 3.79609 8.97092 3.81583 9.00239 3.82088L12.989 4.46045C13.0695 4.47337 13.1016 4.572 13.044 4.62976L10.1947 7.49048C10.1722 7.51306 10.1618 7.54501 10.1668 7.57649L10.7904 11.5657C10.803 11.6462 10.7191 11.7072 10.6464 11.6703L7.04522 9.84443C7.0168 9.83002 6.9832 9.83002 6.95478 9.84443L3.35358 11.6703C3.28087 11.7072 3.19697 11.6462 3.20956 11.5657L3.83323 7.57649C3.83816 7.54501 3.82778 7.51306 3.80529 7.49048L0.955954 4.62976C0.898423 4.572 0.93047 4.47337 1.01096 4.46045L4.99761 3.82088C5.02908 3.81583 5.05625 3.79609 5.07078 3.76772L6.91099 0.173835Z" fill="#E9A426")
                    svg(width="13" height="13")
                        path(d="M6.91099 0.173835C6.94815 0.10127 7.05185 0.10127 7.08901 0.173834L8.92922 3.76772C8.94375 3.79609 8.97092 3.81583 9.00239 3.82088L12.989 4.46045C13.0695 4.47337 13.1016 4.572 13.044 4.62976L10.1947 7.49048C10.1722 7.51306 10.1618 7.54501 10.1668 7.57649L10.7904 11.5657C10.803 11.6462 10.7191 11.7072 10.6464 11.6703L7.04522 9.84443C7.0168 9.83002 6.9832 9.83002 6.95478 9.84443L3.35358 11.6703C3.28087 11.7072 3.19697 11.6462 3.20956 11.5657L3.83323 7.57649C3.83816 7.54501 3.82778 7.51306 3.80529 7.49048L0.955954 4.62976C0.898423 4.572 0.93047 4.47337 1.01096 4.46045L4.99761 3.82088C5.02908 3.81583 5.05625 3.79609 5.07078 3.76772L6.91099 0.173835Z" fill="#E9A426")
                    svg(width="13" height="13")
                        path(d="M6.91099 0.173835C6.94815 0.10127 7.05185 0.10127 7.08901 0.173834L8.92922 3.76772C8.94375 3.79609 8.97092 3.81583 9.00239 3.82088L12.989 4.46045C13.0695 4.47337 13.1016 4.572 13.044 4.62976L10.1947 7.49048C10.1722 7.51306 10.1618 7.54501 10.1668 7.57649L10.7904 11.5657C10.803 11.6462 10.7191 11.7072 10.6464 11.6703L7.04522 9.84443C7.0168 9.83002 6.9832 9.83002 6.95478 9.84443L3.35358 11.6703C3.28087 11.7072 3.19697 11.6462 3.20956 11.5657L3.83323 7.57649C3.83816 7.54501 3.82778 7.51306 3.80529 7.49048L0.955954 4.62976C0.898423 4.572 0.93047 4.47337 1.01096 4.46045L4.99761 3.82088C5.02908 3.81583 5.05625 3.79609 5.07078 3.76772L6.91099 0.173835Z" fill="#E9A426")
                    svg(width="13" height="13")
                        path(d="M6.91099 0.173835C6.94815 0.10127 7.05185 0.10127 7.08901 0.173834L8.92922 3.76772C8.94375 3.79609 8.97092 3.81583 9.00239 3.82088L12.989 4.46045C13.0695 4.47337 13.1016 4.572 13.044 4.62976L10.1947 7.49048C10.1722 7.51306 10.1618 7.54501 10.1668 7.57649L10.7904 11.5657C10.803 11.6462 10.7191 11.7072 10.6464 11.6703L7.04522 9.84443C7.0168 9.83002 6.9832 9.83002 6.95478 9.84443L3.35358 11.6703C3.28087 11.7072 3.19697 11.6462 3.20956 11.5657L3.83323 7.57649C3.83816 7.54501 3.82778 7.51306 3.80529 7.49048L0.955954 4.62976C0.898423 4.572 0.93047 4.47337 1.01096 4.46045L4.99761 3.82088C5.02908 3.81583 5.05625 3.79609 5.07078 3.76772L6.91099 0.173835Z" fill="#CACDD8")
                .product-card__items__reviews__counter-reviews Reviews (4)

            a.product-card__items__product-name(href="#") EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On 

            .product-card__items__product-prise 
               .product-card__items__product-prise__old $499
               .product-card__items__product-prise__new $499